<div class="row">
    <div class="col-md-6">
        <h3>Sign In</h3>
        <hr />
        <div class="alert alert-danger" role="alert" style="display: none" id="alert-signin"></div>
        <form id="form-signin" method="POST">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
            </div>

            <input type="submit" value="Sign In" class="btn btn-success">
        </form>

    </div>
    <div class="col-md-6">
        <h3>Sign Up</h3>
        <hr />
        <div class="alert alert-danger" role="alert" style="display: none" id="alert-signup"></div>
        <div class="alert alert-success" role="alert" style="display: none" id="alert-success-signup">User sucessfully created</div>

        <form id="form-signup" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="givenName" class="form-control" />
            </div>

            <div class="form-group">
                <label>Surname</label>
                <input type="text" name="surname" class="form-control" />
            </div>

            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
            </div>

            <input type="submit" value="Sign In" class="btn btn-success">
        </form>
    </div>

    <script type="text/javascript" src="/pages/sign/signin.js"></script>
</div>