<div id="stream-subscribed"></div>

<div class="alert alert-danger" role="alert" style="display: none" id="alert-subscribed"></div>
<div class="alert alert-success" role="alert" style="display: none" id="alert-success-subscribed"></div>

<form method="POST" id="form-subscribe">
    <div class="form-group">
        <input type="text" name="roomName" placeholder="Type the name of the room to subscribe to the stream" class="form-control">   
    </div>
    
    <input type="submit" value="Submit" class="btn btn-default">
</form>

<hr>

<button class="btn btn-default btn-directional" data-value="up"> <i class="glyphicon glyphicon-arrow-up" /> </button>
<button class="btn btn-default btn-directional" data-value="left"><i class="glyphicon glyphicon-arrow-left" /></button>
<button class="btn btn-default btn-directional" data-value="right"><i class="glyphicon glyphicon-arrow-right" /></button>
<button class="btn btn-default btn-directional" data-value="down"><i class="glyphicon glyphicon-arrow-down" /></button>

<script src="/pages/subscribe/subscribe.js"></script>