<div class="alert alert-danger" role="alert" style="display: none" id="alert-publish"></div>

<form method="post" id="form-publish">
    <div class="form-group">
        <input type="text" name="roomName" placeholder="Type the name of the room to publish the stream" class="form-control">
    </div>
    <input class="btn btn-default" type="submit" value="Publish My Stream" />
</form>

<div id="publisher"></div>

<script src="/pages/publish/publish.js"></script>